@model IEnumerable<Student>

<div class="row">

    @if (Model != null)
    {
        <div class="table table-responsive table--no-card m-b-30">
            <a class="text-primary" asp-action="CreateStudentEmail" >Upload Students email here</a>
            <table id="dtBdcCustomers" class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.AdmissionNumber)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Class)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MiddeleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.FatherEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MotherEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @item.AdmissionNumber
                        </td>

                        <td>
                            @item.Class
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.MiddeleName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Gender
                        </td>
                        <td>
                            @item.FatherEmail
                        </td>
                        <td>
                            @item.MotherEmail
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.DateOfBirth
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4>No Student here yet</h4>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
$(document).ready(function () {
            $('#dtBdcCustomers').DataTable();
            $('.dataTables_length').addClass('bs-select');

        });</script>

}


