@model Accolades.ViewModels.StudentsViewModel

@{
    ViewData["Title"] = "Mapping";

    List<string> Headers = ViewBag.Headings;
}

<h1>Mapping</h1>

<h4>StudentsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Mapping" asp-controller="Student" method="post">
            <div class="row">
                <div class="col-md-4 offset-1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="AdmissionNumber" class="control-label"></label>
                        <select asp-for="AdmissionNumber" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        @*@Html.DropDownListFor(x => Model.AdmissionNumber, new SelectList(Headers, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "adm" })*@
                        <span asp-validation-for="AdmissionNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <select asp-for="FirstName" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MiddeleName" class="control-label"></label>
                        <select asp-for="MiddeleName" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="MiddeleName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <select asp-for="LastName" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Class" class="control-label"></label>
                        <select asp-for="Class" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="Class" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-4 offset-1">
                    <div class="form-group">
                        <label asp-for="ParentName" class="control-label"></label>
                        <select asp-for="ParentName" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="ParentName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FatherPhone" class="control-label"></label>
                        <select asp-for="FatherPhone" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="FatherPhone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MotherPhone" class="control-label"></label>
                        <select asp-for="MotherPhone" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="MotherPhone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MotherEmail" class="control-label"></label>
                        <select asp-for="MotherEmail" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="MotherEmail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FatherEmail" class="control-label"></label>
                        <select asp-for="FatherEmail" class="form-control">
                            @foreach (var item in Headers)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span asp-validation-for="FatherEmail" class="text-danger"></span>
                    </div>

                </div>
                
            </div>
            <input asp-for="FileName" type="text" hidden value="@Headers.Last()" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
